header{
    text-align: center;
}

main{
    display: flex;
}

#markdown{
    width: 50vw;
}

#text-markdown{
    width: 90%;
    height: 25vh;
}

#preview{
    width: 50vw;
}

#preview{
    width: 50vw;
}