body{
    font-family: sans-serif;
}

header{
    text-align: center;
}

main{
    display: flex;
}

#markdown{
    width: 50vw;
}

#text-markdown{
    width: 90%;
    height: 25vh;
}

#preview{
    width: 50vw;
}

#preview-area{
    width: 90%;
    overflow-wrap: break-word;
    overflow: auto;
}